* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);




:root {
    --branco: #fbfbfb;
    --azulClaro: #00B2F3;
    --azulEscuro: #053F66;
    --preto: #000000;
    --cinza: ;
    --amarelo: #FFD900;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1700px;
    margin: 0 auto;
}

/*---------Menu----------*/

header {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 155px;
}

.menu {
    max-width: 700px;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 25px;
    color: var(--azulEscuro);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Inter", sans serif;

}

.menu a:hover {
    color: var(--amarelo);
}

#head-azul {
    background-color: var(--azulClaro);
}

/* -------- Mneu Hamburguer ---------- */
#icone-barras {}

#icone-x {}

#menu_botao {
    display: none;
}

/*-----------Responsividade------------ */
@media screen and (max-width: 700) {
    #sombra {
        background-color: var(--azulEscuro);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vw;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;

    }

    header svg {
        fill: var(--preto);
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: 0;
        z-index: 1;
        transition: .5s;
    }
}